@media(min-width: 1366px) {
    #wrappDesing {
        /* border: 2px solid black; */
    }
}

@media(min-width: 933px) and (max-width: 1366px) {
    #wrappDesing {
        border: 2px solid red;
    }
}

@media(max-width: 932px) {
    #wrappDesing {
        border: 2px solid green;
    }
}

#wrappDesing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 100px; */
    /* width: 100%; */
    background-image: url('/public/bg\ hero\ image\ dising\ 1.jpg');
    background-repeat: no-repeat;
    /*  */
    width: 1920px;
    background-size: cover;
}

#titleDesing {
    text-align: center;

    margin-left: 0;

    font-size: 100px;
}

#heroImg {
    width: 900px;
    height: 1026px;
    /* margin-left: 400px; */

    display: inline;

    background: #ffffff50;

    position: relative;
    z-index: 2;
}

#divForThreeCards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    width: 180px;
    height: 212px;

    border-radius: 15px;
    background: #ffffff;
    text-align: center;
}

.imgForCard {
    margin-top: 30px;

    width: 44px;
    height: 44px;

    display: inline;
}

.hrForCard {
    width: 100px;
}

.miniH4ForCard {
    margin-top: -5px;
    margin-bottom: -5px;
}

#boddomHeroImh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;

    padding: 0 150px;

    text-align: center;
}


/* ----------------} Настройка карточек в первой секции {-------------------- */
#firstSec {
    display: flex;
}

#threeCards {}

.photoForCardInSection {

    width: 481px;
    height: 720px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardsInFirstSec {
    border: 2px solid black;
    border-radius: 20px;

    width: 481px;
    height: 953px;

    z-index: 1;

    margin-right: 15px;
    background: #ffffff;
}

.h1InCardFirstSec {}

.pInCardFirstSec {}

.divForPhotoCard {
    z-index: 0;
}