/* ---------------------------------------------------------- */
@media(min-width: 1366px) {
    #wrappRegister {
        display: flex;
        justify-content: space-around;
    }

    /* LEFT */
    #left-DD {
        height: 1055px;
        width: 600px;
    }

    #backBnt-DD {
        background: none;
        border: none;

        width: 100px;
        height: 100px;
        /* background: #bb5252; */
    }

    /* RIGHT */
    #right-DD {
        display: flex;
        align-items: center;

        margin-left: 20px;
    }

    .divForInfoRegister-DD {
        display: block;

        margin-bottom: 25px;
    }

    .inp-DD {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        color: black;

    }

    .inputInfo-DD {
        width: 428px;
        height: 50px;

        top: 198px;
        left: 746px;

        border-radius: 5px;
        border: 1px solid #646464;

        font-size: 20px;
    }

    .first-DD:focus {
        /* border: none; */
        outline: none;
    }

    .text-DD {
        margin-top: -40px;
    }

    #ies-DD {
        margin-top: 5px;

        width: 35px;
        height: 23px;
    }

    #buttonPass-DD {
        border: none;
        background: none;
    }

    #pass-DD {
        margin-top: 10px;
        margin-bottom: 10px;

        width: 428px;
        height: 50px;

        top: 198px;
        left: 746px;

        border-radius: 5px;
        border: 1px solid #646464;
    }

    #butforgotPass-DD {
        text-decoration: underline;
        color: #646464;
    }

    #divForBtnForgotPass-DD {
        margin-bottom: 20px;
    }

    #saveInfo-DD {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;

        width: 20px;
        height: 20px;

        border: none;
    }

    #inputPass-DD {
        margin-top: 4px;

        font-size: 20px;
        border: none;

        width: 385px;
        height: 40px;
    }

    #divForInfo-DD {
        margin-left: 200px;
    }

    #inputPass-DD:focus {
        border: none;
        outline: none;
    }

    #divForAgree-DD {
        display: flex;
        align-items: center;

        margin-top: -25px;
    }

    .Akk-DD {
        width: 428px;
        height: 50px;

        top: 548px;
        left: 746px;

        border-radius: 30px;
        border: none;

        padding: 10px;
        gap: 10px;
        background: #000000;

        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        text-align: center;
        text-transform: uppercase;

        color: white;

        margin-bottom: 50px;
        margin-top: -15px;
    }

    #iAgree-DD {
        width: 500px;
    }

    .Ma-DD {
        background: white;

        width: 428px;
        height: 50px;

        top: 713px;
        left: 747px;

        border-radius: 30px;
        border-width: 2px;

        padding: 10px;
        gap: 10px;


        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        text-align: center;
        text-transform: uppercase;
    }

    .pMa-DD {
        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;
    }


    div {
        display: flex;
        flex-direction: row;
    }

    img {


        object-fit: cover;
    }
}

/* ---------------------------------------------------------- */
@media(min-width: 933px) and (max-width: 1366px) {
    #wrappRegister-DD {
        display: flex;
        justify-content: space-around;
    }

    /* LEFT */
    #left-DD {
        height: 1050px;
        width: 400px;
    }

    #backBnt-DD {
        background: none;
        border: none;

        width: 100px;
        height: 100px;
        /* background: #bb5252; */
    }

    /* RIGHT */
    #right-DD {
        display: flex;
        align-items: center;

        margin-left: 20px;
    }

    /*-----------------*/
    .text-DD {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 12px;

        line-height: 100%;
        letter-spacing: 0%;

        color: #646464;

        margin-top: -20px;
    }

    #iAgree-DD {
        margin-bottom: -10px;
        width: 400px;

        display: flex;
        align-items: center;
    }

    #divForPass-DD {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .text2-DD {
        /* font-family: Montserrat; */
        font-weight: 400;
        font-size: 12px;

        line-height: 100%;
        letter-spacing: 0%;

        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;

        color: #646464;

        margin-bottom: 40px;
    }

    /*-----------------*/

    .inp-DD {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        color: black;

        margin-bottom: 50px;

    }

    .divForInfoRegister-DD {
        display: block;

        margin-bottom: -20px;
    }

    .inputInfo-DD {
        width: 428px;
        height: 50px;

        top: 198px;
        left: 746px;

        border-radius: 5px;
        border: 1px solid #646464;

        font-size: 20px;

        margin-bottom: 50px;
    }

    .first-DD:focus {
        /* border: none; */
        outline: none;
    }

    #ies-DD {
        margin-top: 5px;

        width: 35px;
        height: 23px;
    }

    #buttonPass-DD {
        border: none;
    }

    #pass-DD {
        margin-top: 10px;
        margin-bottom: 10px;

        width: 428px;
        height: 50px;

        top: 198px;
        left: 746px;

        border-radius: 5px;
        border: 1px solid #646464;
    }

    #butforgotPass-DD {
        text-decoration: underline;
        color: #646464;
    }

    #divForBtnForgotPass-DD {
        margin-bottom: 20px;
    }

    #saveInfo-DD {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;

        width: 20px;
        height: 20px;

        border: none;
    }

    #inputPass-DD {
        margin-top: 4px;

        font-size: 20px;
        border: none;

        width: 385px;
        height: 40px;
    }

    #divForInfo-DD {
        margin-left: 200px;
    }

    #inputPass-DD:focus {
        border: none;
        outline: none;
    }

    #divForSaveInfo-DD {
        display: flex;
        align-items: center;
    }

    .Akk-DD {
        width: 428px;
        height: 50px;

        top: 548px;
        left: 746px;

        border-radius: 30px;
        border: none;

        padding: 10px;
        gap: 10px;
        background: #000000;

        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        text-align: center;
        text-transform: uppercase;

        color: white;

    }

    .Ma-DD {
        background: white;

        width: 428px;
        height: 50px;

        top: 713px;
        left: 747px;

        border-radius: 30px;
        border-width: 2px;

        padding: 10px;
        gap: 10px;


        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;

        text-align: center;
        text-transform: uppercase;
    }

    .pMa-DD {
        font-family: Montserrat;
        font-weight: 600px;
        font-size: 14px;

        line-height: 100%;
        letter-spacing: 0%;
    }


    div {
        display: flex;
        flex-direction: row;
    }

    img {


        object-fit: cover;
    }
}

/* ---------------------------------------------------------- */

@media (max-width: 932px) {

    /* КОНТЕЙНЕР */
    #wrappLogIn-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    /* LEFT */
    #left-DD {
        width: 100%;
        height: 400px;
        border-radius: 10px;
    }

    #backBnt-DD {
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
    }

    #divForH1-DD {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 140px;
    }

    #title-DD {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        text-align: center;
        color: black;
    }

    /* RIGHT */
    #right-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .text-DD,
    .text2-DD {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #646464;
    }

    .text2-DD {
        text-decoration: underline;
        margin-bottom: 20px;
    }

    .inp-DD {
        margin-bottom: -15px;
    }

    .first-DD,
    #pass-DD,
    #inputPass-DD,
    .Akk-DD,
    .Ma-DD {
        width: 90%;
        max-width: 400px;
        font-size: 16px;
    }


    #divForPass-DD {
        /* border: 1px solid black; */
    }

    #pass-DD {
        height: 45px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #646464;
        box-sizing: border-box;
    }

    #inputPass-DD {
        height: 40px;
        padding: 5px 10px;
    }

    .inputInfo-DD {
        width: 428px;
        height: 30px;

        border-radius: 5px;
        border: 1px solid #646464;

        font-size: 20px;

        margin-bottom: 5px;
    }

    #inputPass-DD:focus,
    .first-DD:focus {
        outline: none;
        border: 1px solid #000000;
    }

    .Akk-DD,
    .Ma-DD {
        height: 45px;
        border-radius: 30px;
        padding: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .Akk-DD {
        background: black;
        color: white;
        margin-top: 20px;
    }

    .Ma-DD {
        background: white;
        border: 2px solid black;
        color: black;
    }

    #divForAgree-DD {
        display: flex; 
        justify-content: center;
    }
    
    #saveInfo-DD {
        width: 20px;
        height: 20px;
    }
    
    #divForCheckboxSaveInfo-DD
    {
        display: block;
        width: 30px;
    }
    #divForTextIAgree-DD {
        width: 300px;
        display: block;
    }    

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    div {
        flex-direction: column;
    }
}

#left-DD {
    background-image: url(/public/imgRegister.jpg);
    background-size: cover;
    background-position: center;
}