@media(min-width: 1500px) {

    #wrappDesing-DD {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-left: 100px; */
        /* width: 100%; */
        width: 1920px;
        background-size: cover;
    }

    #titleDesing-DD {
        text-align: center;

        margin-left: 0;

        font-size: 100px;
    }

    #heroImg-DD {
        width: 900px;
        height: 1026px;
        /* margin-left: 400px; */

        display: inline;

        background: #ffffff50;

        position: relative;
        /* z-index: 2; */


    }

    #divForBgImg-DD {
        background-image: url('/public/bg\ hero\ image\ dising\ 1.jpg');
        background-repeat: no-repeat;
        /* margin-left: -400px; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    #divForThreeCards-DD {
        display: flex;
        justify-content: space-between;
    }

    .card-DD {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        width: 180px;
        height: 212px;

        border-radius: 15px;
        background: #ffffff;
        text-align: center;
    }

    .imgForCard-DD {
        margin-top: 30px;

        width: 44px;
        height: 44px;

        display: inline;
    }

    .hrForCard-DD {
        width: 100px;
    }

    .miniH4ForCard-DD {
        margin-top: -5px;
        margin-bottom: -5px;
    }

    #boddomHeroImh-DD {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 100px;

        padding: 0 150px;

        text-align: center;
    }


    /* ----------------} Настройка карточек в первой секции {-------------------- */
    #firstSec-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photoForCardInSection-DD {
        width: 481px;
        height: 720px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


    .cardsInFirstSec-DD {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        /* border: 2px solid black; */
        border-radius: 20px;
        width: 481px;
        height: 953px;
        margin-right: 15px;
        background: #ffffff;
    }

    .pInCardFirstSec-DD {
        padding-left: 10px;
        padding-right: 10px;
    }

    .divForPhotoCard-DD {
        /* z-index: 0; */
    }

    #firstSec-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #downFirstSec-DD,
    #cardInThirdSec-DD {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        /* добавим отступ сверху */
        width: 1483px;
        height: 289px;
        background: #ffffff;

        border-radius: 15px;
        /* border: 1px solid black; */


    }

    #downFirstSec-DD {
        margin-left: -200px;
    }

    #pInFoursCard-DD {
        width: 500px;
    }

    #thirdSec-DD {
        display: inline;
        width: 1480px;
    }

    #a-DD,
    #imgInCardThirdSec-DD {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 2400px;
        height: 289px;

        /* border: 5px solid saddlebrown; */
    }

    #imgInCardThirdSec-DD {
        width: 5400px;
        height: 585px;
    }

    #rightDivInFouesCard-DD,
    #divInCardThirdSec-DD {
        display: inline;
        margin-left: 20px;
    }

    #h1InCardThirdSec-DD {
        width: 300px;
    }

    #h1InFoursCard-DD,
    #h1InCardThirdSec-DD {
        margin-bottom: -20px;
    }

    .cardInThirdSec-DD {
        background: #ffffff;
        /* width: 595px; */
        /* border: 5px solid saddlebrown; */
        border-radius: 15px;

        margin-bottom: 100px;
    }
}

@media(min-width: 933px) and (max-width: 1500px) {

    #wrappDesing-DD {
        /* border: 2px solid red; */


        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-left: 100px; */
        /* width: 100%; */
        width: 100%;
        background-size: cover;
        /* margin-left: 10px; */
    }

    #titleDesing-DD {
        text-align: center;

        margin-left: 0;

        font-size: 60px;
    }

    #heroImg-DD {
        width: 900px;
        height: 1026px;
        /* margin-left: 400px; */

        display: inline;

        background: #ffffff50;

        position: relative;
        /* z-index: 2; */


    }

    #divForBgImg-DD {
        background-image: url('/public/bg\ hero\ image\ dising\ 1.jpg');
        background-repeat: no-repeat;
        /* margin-left: -400px; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    #divForThreeCards-DD {
        display: flex;
        justify-content: space-between;
    }

    .card-DD {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;

        width: 180px;
        height: 212px;

        border-radius: 15px;
        background: #ffffff;
        text-align: center;
    }

    .imgForCard-DD {
        margin-top: 30px;

        width: 44px;
        height: 44px;

        display: inline;
    }

    .hrForCard-DD {
        width: 100px;
    }

    .miniH4ForCard-DD {
        margin-top: -5px;
        margin-bottom: -5px;
    }

    #boddomHeroImh-DD {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 100px;

        padding: 0 150px;

        text-align: center;
    }


    /* ----------------} Настройка карточек в первой секции {-------------------- */
    #firstSec-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photoForCardInSection-DD {
        width: 481px;
        height: 720px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }


    .cardsInFirstSec-DD {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;

        /* border: 2px solid black; */
        border-radius: 20px;
        width: 300px;
        height: 880px;
        margin-right: 15px;
        background: #ffffff;
    }

    .pInCardFirstSec-DD {
        padding-left: 10px;
        padding-right: 10px;
    }

    .divForPhotoCard-DD {
        /* z-index: 0; */
    }

    #firstSec-DD {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #downFirstSec-DD,
    #cardInThirdSec-DD {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        /* добавим отступ сверху */
        width: 183px;
        height: 289px;
        background: #ffffff;

        border-radius: 15px;
        /* border: 1px solid black; */
    }

    #thirdSec-DD {
        /* margin-left: -800px; */
        display: flex;
        width: 600px;
        /* justify-content: center; */
        flex-direction: column;
        justify-content: left;

        background: #8b8b8b93;

        
    }

    #a-DD,
    #imgInCardThirdSec-DD {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 400px;
        height: 289px;
        position: relative;

        /* border: 5px solid saddlebrown; */
    }

    #imgInCardThirdSec-DD {
        /* width: 5400px; */
        height: 585px;
    }

    #rightDivInFouesCard-DD,
    #divInCardThirdSec-DD {
        display: inline;
        margin-left: 20px;
        /* width: 500px; */
    }

    #h1InCardThirdSec-DD {
        width: 300px;
    }

    #h1InFoursCard-DD,
    #h1InCardThirdSec-DD {
        margin-bottom: -20px;
    }

    .cardInThirdSec-DD {
        background: #ffffff;
        width: 600px;
        /* border: 5px solid saddlebrown; */
        border-radius: 15px;

        margin-bottom: 100px;
    }

    #pInCardTrirdSec-DD
    {
        width: 200px;
    }
}

@media(max-width: 430px) {
    #wrappDesing-DD {
        border: 2px solid green;
    }

    
}